---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';
import CurriculumDownload from '~/components/atoms/CurriculumDownload.astro';
import ContactInfo from '~/components/atoms/ContactInfo.astro';
import ProficiencyBar from '~/components/atoms/ProficiencyBar.astro';
import Meetings from '~/components/atoms/Meetings.astro';
import Paragraphs from '~/components/atoms/Paragraphs.astro';
import { aboutMe, contactInfo, downloadLinks, strengths, techStack } from '~/assets/curriculum/index.js';
import Picture from '~/components/core/Picture.astro';
const titleClass = 'text-2xl lg:text-3xl font-bold text-center text-slate-900 dark:text-slate-100';

const cardClass = 'p-5 border-slate-900 dark:border-slate-100 border-[1px] rounded-2xl w-full';
const halfWidth = 'col-span-2 lg:col-span-1';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};

const navClass = 'anchor-link hover:text-primary-500  dark:hover:text-secondary-500 transition-colors duration-20';

// Smooth scrolling for anchor links
---

<Layout {meta}>
	<section class="shadow-inner shadow-slate-600/30 p-20 bg-gradient-to-r from-primary-400 to-secondary-500 text-slate-100 wavy">
		<h1 class="text-3xl lg:text-4xl font-bold">THOMAS B. VERDERESI</h1>
		<p class="text-xl lg:text-2xl font-medium">FULLSTACK SOFTWARE ENGINEER</p>
	</section>
	<section class="px-5 py-10 lg:p-10 w-full grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-10">
		<section class="lg:px-10 col-span-2">
			<CurriculumDownload downloadLinks={downloadLinks} />
		</section>

		<section class={`${cardClass} col-span-2`}>
			<h2 class={titleClass}>INDEX</h2>

			<p class={`text-center text-lg lg:text-lg break-word font-extrabold`}>
				|
				<a href="#contacts" class={navClass}> CONTACT</a> |
				<a href="#meetings" class={navClass}> SCHEDULE A MEETING</a> |
				<a href="#about" class={navClass}> ABOUT ME</a> |
				<a href="#tech-stack" class={navClass}> TECH STACK</a> |
				<a href="#strengths" class={navClass}> STRENGTHS & SKILLS</a> |
				<a href="#work-xp" class={navClass}> WORK EXPERIENCE</a> |
			</p>
		</section>

		<section id="contacts" class={`${cardClass} ${halfWidth}`}>
			<h2 class={titleClass}>CONTACT INFO</h2>
			<ContactInfo contactInfo={contactInfo} />
		</section>

		<section id="meetings" class={`${cardClass} ${halfWidth}`}>
			<h2 class={titleClass}>SCHEDULE A MEETING</h2>
			<Meetings />
		</section>

		<section id="about" class={`${cardClass} ${halfWidth} row-span-1`}>
			<h2 class={titleClass}>ABOUT ME</h2>
			<Paragraphs paragraphs={aboutMe} />
		</section>

		<section id="tech-stack" class={`${cardClass} ${halfWidth} row-span-2`}>
			<h2 class={titleClass}>PROFICIENCY STACK</h2>
			<ProficiencyBar maxYears={2} stack={techStack} />
		</section>

		<section id="strengths" class={`${cardClass} ${halfWidth} row-span-1`}>
			<h2 class={titleClass}>STRENGTHS & SKILLS</h2>
			<ul class="mt-2 list-disc list-inside text-slate-900 dark:text-slate-100">
				{strengths.map((strength) => <li class="mb-2 text-justify text-slate-900 dark:text-slate-100 ">{strength}</li>)}
			</ul>
		</section>

		<section id="#work-xp" class={`${cardClass}  col-span-2 lg:col-span-2`}>
			<h2 class={titleClass}>WORK EXPERIENCE</h2>
			<article class="pt-4 lg:pt-16 px-0 lg:px-4 mb-0">
				<div class="flex flex-col lg:flex-row justify-start items-start gap-2 lg:items-center px-0 py-5 lg:p-5 lg:pb-0">
					<h3 class="font-semibold text-base lg:text-2xl flex flex-row items-start lg:items-center text-slate-900 dark:text-slate-100">
						<Icon name="mdi:briefcase" class="h-6 w-6 mr-1 text-primary-500 dark:text-secondary-500" />Freelance Fullstack Software Engineer
					</h3>
					<h4 class="font-semibold textl-2xl flex flex-row text-slate-900 dark:text-slate-100">
						<Icon name="mdi:office-building" class="h-6 w-6 mr-1 text-primary-500 dark:text-secondary-500" /> tverderesi.dev
					</h4>
				</div>

				<div class="px-0 py-5 lg:p-5 flex flex-col lg:flex-row justify-between font-medium w-full gap-2">
					<p class="flex flex-row font-semibold text-slate-900 dark:text-slate-100">
						<Icon name="mdi:calendar" class="w-6 h-6 mr-1 text-primary-500 dark:text-secondary-500" />
						<span class="hidden lg:inline">Period</span><span class="lg:font-light ml-1 font-semibold"> SEP/2022 - Current</span>
					</p>

					<p class="flex flex-row font-semibold text-slate-900 dark:text-slate-100">
						<Icon name="mdi:map" class="w-6 h-6 mr-1 text-primary-500 dark:text-secondary-500" />
						<span class="hidden lg:inline">Location:</span><span class="lg:font-light ml-1 font-semibold">Curitiba - PR, Brasil</span>
					</p>

					<span class="flex flex-row lg:flex-row font-semibold text-slate-900 dark:text-slate-100">
						<Icon name="mdi:laptop" class="w-6 h-6 mr-1 text-primary-500 dark:text-secondary-500" />
						<span class="hidden lg:inline">Area:</span>
						<span class="lg:font-light ml-1 font-semibold">Software Development</span>
					</span>
				</div>
			</article>

			<h5 class="font-medium mb-3 lg:px-10 text-slate-900 dark:text-slate-100">
				<em>Company's brief description: <span class="font-normal block lg:inline">I work freelance for some clients.</span></em>
			</h5>
			<hr class="border-slate-900 dark:border-slate-100" />

			<div class="px-0 lg:px-5 flex flex-row items-center relative mt-4">
				<Picture
					src="forestask.png"
					class="mx-auto w-[43px] lg:w-[86px] mr-0 absolute lg:relative top-0 right-0 lg:left-0 lg:mr-5 my-3 shadow-xl rounded-full inline"
					widths={[43, 86]}
					sizes="43px, 86px"
					alt="forestask"
					aspectRatio="1:1"
				/>
				<h3 class="text-2xl font-bold text-slate-900 dark:text-slate-100">
					<div class="flex-col">
						<div class="flex flex-row items-center">
							Project 1 <div class="btn bg-primary-500 dark:bg-secondary-500 text-slate-100 text-[14px] shadow-none p-1.5 py-1 ml-2 font-medium">
								In Progress
							</div>
						</div>
						<span class="text-2xl font-medium flex flex-col">
							Forestask
							<span class="text-base"><em>(Formely Florestarefa)</em></span>
						</span>
					</div>
				</h3>
			</div>

			<ul class="mt-2 list-inside lg:px-5 text-base lg:text-lg text-slate-900 dark:text-slate-100 transition-colors duration-200">
				<li class="flex flex-row items-center hover:text-primary-500 dark:hover:text-secondary-500 font-semibold">
					<Icon name="ph:globe-bold" class="h-6 w-6 mr-1 inline" />
					<a href="https://florestarefa.vercel.app/" target="_blank" rel="noopener noreferrer" class="">https://florestarefa.vercel.app/</a>
				</li>
				<li><strong class="font-semibold">Client:</strong> Myself/Learning purposes.</li>
				<li>Main goal: Create a student friendly PWA with gamified elements which doubles as a Learning Management System for the school staff.</li>
				<li>
					Details and responsibilities: I conceptualized Florestarefa during a Hackathon in 2022. Then I built it as a prototype using HTML, CSS and
					JS, and now I’m building it using the MERN (MongoDB, Express, React and Node.js) stack and GraphQL for data requests.
				</li>
				<li>
					Outcome: First prototype in HTML, CSS and JS. Student UI prototype in ReactJS and JSONServer. Partially complete PWA with login,
					registration and admin using the MERNG stack.
				</li>
				<li>Technologies: MongoDB, Typescript, ReactJS, Framer, Tailwind, Node.js, GraphQL, Apollo Server and Client, Vercel.</li>

				<h3 class="mt-4 text-xl font-bold">Project 2 – GK Empreendimentos (In Progress)</h3>
				<ul class="mt-2 list-disc list-inside">
					<li>Client: GK, a high-end condominiums developer in Santa Catarina, Brazil.</li>
					<li>
						Main goal: Refactor a WordPress website into a SPA using ReactJS in the front-end and AWS Lambda, while also providing a CMS for it.
					</li>
					<li>
						Details and responsibilities: I am spearheading the front-end design and CMS conception and execution while being mentored on the backend
						and infrastructure implementation by a Senior Software Engineer. I also worked out a data structure for each building selling information
						so it can be updated easily and quickly.
					</li>
					<li>
						Outcome: Partially Complete SPA. The generic frame for displaying each building’s information is ready, currently working on the company
						page and CMS development.
					</li>
					<li>Technologies: ReactJS, AWS Lambda, Typescript, Node.js, Vercel.</li>
				</ul>
				<h3 class="mt-4 text-xl font-bold">Project 3 – tverderesi.dev (In Progress)</h3>
				<ul class="mt-2 list-disc list-inside">
					<li>Client: Myself/Learning purposes.</li>
					<li>Main Goal: Create a portfolio highlighting my work and writings.</li>
					<li>Details and responsibilities: I am responsible for learning a new framework, Astro, and for Front-end design.</li>
					<li>Outcome: A portfolio website (<a href="https://tverderesi.dev">https://tverderesi.dev</a>).</li>
					<li>Technologies: Astro, Vercel.</li>
				</ul>
			</ul>
		</section>
		<div class="mt-8">
			<h2 class="text-2xl font-bold">FOUNDER AND SERVER MAINTENANCE</h2>
			<p class="font-medium">Dord English School</p>
			<p><em>Company's brief description: Online-First Business English School</em></p>
			<p class="mt-2">
				<strong>📆 MAR/2020 – MAY/2022</strong>
				<br />
				<strong>🗺️ Curitiba, PR – Brasil (Remote)</strong>
				<br />
				<strong>💻 Business area: Education and Technology</strong>
			</p>
			<h3 class="mt-4 text-xl font-bold">Project 1 – Moodle Server Deployment and Maintenance</h3>
			<ul class="mt-2 list-disc list-inside">
				<li>Main goal: Deploy a Moodle Server and maintain it with zero cost as long as possible.</li>
				<li>
					Details and responsibilities: I was responsible for deploying the Moodle server and maintaining it while keeping in mind the School had $0
					to invest in server maintenance when it was founded. I chose to use Google Cloud Platform because it had free credit for 12 months, which
					was enough time for the school to have funds to keep the server running. I chose a low code approach because maintaining the server was a
					secondary assignment that I did for free. I taught myself how to use GCP, Compute Engine and Data Buckets to backup the servers. I also
					implemented Google’s OAuth2 login system to make the login process easier for students and teachers.
				</li>
				<li>Outcome: The Moodle server which was used to apply tests to grade students.</li>
				<li>Technologies: Google Cloud Platform, PHP.</li>
			</ul>
		</div>
		<h3 class="mt-4 text-xl font-bold">Project 2 – Data Good Practices Training</h3>
		<ul class="mt-2 list-disc list-inside">
			<li>Main goal: Train staff to effectively use the Moodle server while keeping good practices in inserting and keeping data.</li>
			<li>
				Details and responsibilities: I taught the teachers at Dord how to create questions for the question bank and to use a tag system that I
				created, which was human-readable. The tagging system was created as a foundation to implement AI-driven granular grading and studying
				suggestions as a long-term goal. I crafted video lessons and a manual for future reference. I also taught them how to navigate the system,
				create cohorts, tests, and everything they needed to keep their classes running properly.
			</li>
			<li>Outcome: A tagging system and a training course for the teachers.</li>
			<li>Technologies: Adobe Premiere, Microsoft Office, Moodle.</li>
		</ul>
		<div class="mt-8">
			<h2 class="text-2xl font-bold">EDUCATION</h2>
			<ul class="mt-2 list-disc list-inside">
				<li>Specialization in Gamification in E-Learning - Federal University of São Carlos - MAY/2020 - MAY/2022</li>
				<li>Incomplete Master's in Structural Engineering - Federal University of Paraná - MAR/2017 - SEP/2019</li>
				<li>Bachelor's in Civil Engineering - Federal University of Paraná - MAR/2012 - DEC/2016</li>
			</ul>
		</div>

		<div class="mt-8">
			<h2 class="text-2xl font-bold">CERTIFICATIONS & COURSES</h2>
			<ul class="mt-2 list-disc list-inside">
				<li>Tech Academy – StartSe University (2022) - Credential ID 62e293e41aa0ba726fbb04c4</li>
				<li>Python Para Data Science - Alura (2022) - Credential ID f33fb405-ffd5-4310-9192-cf05a612864b</li>
				<li>Formação Fullstack – Alura (2023) - In Progress</li>
			</ul>
		</div>

		<div class="mt-8">
			<h2 class="text-2xl font-bold">LANGUAGES</h2>
			<ul class="mt-2 list-disc list-inside">
				<li>Portuguese (Native – CEFR C2)</li>
				<li>English (Fluent – CEFR C1)</li>
				<li>French (Basic – CEFR B1)</li>
			</ul>
		</div>
	</section>
	<script>
		const anchorLinks = document.querySelectorAll('.anchor-link');
		const headerHeight = document.querySelector('#header')?.clientHeight;
		anchorLinks.forEach((link) => {
			link.addEventListener('click', (e) => {
				e.preventDefault();

				const href = link.getAttribute('href');
				//@ts-ignore
				const offsetTop = document?.querySelector(href)?.offsetTop - headerHeight - 16;
				scroll({
					top: offsetTop,
					behavior: 'smooth',
				});
			});
		});
	</script>
</Layout>
