---
import Picture from '~/components/core/Picture.astro';
import Icon from 'astro-icon';

const {projects } = Astro.props

---
<!-- TODO: Implement pictures correctly -->
{projects.map((project, index) => {
return (
<hr class="border-slate-900 dark:border-slate-100 mt-8" />

<div class="px-0 lg:px-5 flex flex-row items-center relative mt-4">
<!-- 
    {project.picture? <Picture
        src={project.picture}
        class="mx-auto w-[43px] lg:w-[86px] mr-0 absolute lg:relative top-0 right-0 lg:left-0 lg:mr-5 my-3 shadow-xl rounded-full inline"
        widths={[43, 86]}
        sizes="43px, 86px"
        alt={project.title}
        aspectRatio="1:1"
    /> : ''} -->
    <h3 class="text-2xl font-bold text-slate-900 dark:text-slate-100">
        <div class="flex-col">
           {project.status &&  <div class="flex flex-row items-center">
                Project {index + 1} <div class="btn bg-primary-500 dark:bg-secondary-500 text-slate-100 text-[14px] shadow-none p-1.5 py-1 ml-2 font-medium">
                    {project.status}
                </div>
            </div>}
            <span class="text-2xl font-medium flex flex-col">
                {project.title}
                <span class="text-base"><em>{project.subtitle}</em></span>
            </span>
        </div>
    </h3>
</div>

<ul class="mt-2 list-inside lg:px-5 text-base lg:text-lg text-slate-900 dark:text-slate-100 transition-colors duration-200">
   {project.href &&  <li class="flex flex-row items-center hover:text-primary-500 dark:hover:text-secondary-500 font-semibold">
        <Icon name="ph:globe-bold" class="h-6 w-6 mr-1 inline" />
        <a href={project.href} target="_blank" rel="noopener noreferrer" class="">{project.href}</a>
    </li>}
    <li class="my-3">
        <strong class="font-semibold text-lg lg:text-xl">Client</strong>
        <br />
        {project.client}
    </li>
    <li class="my-3">
        <strong class="font-semibold text-lg lg:text-xl">Main goal</strong>
        <br />
        {project.mainGoal}
    </li>
    <li class="my-3">
        <strong class="font-semibold text-lg lg:text-xl">Details and responsibilities</strong>
        <br />
        {project.details}
    </li>
    <li class="my-3">
        <strong class="font-semibold text-lg lg:text-xl">Outcomes</strong>
        <br />
        {project.outcomes}
    </li>
    <li class="my-3">
        <strong class="font-semibold text-lg lg:text-xl">Technologies</strong>
        <br />
        {project.tech}
    </li>
</ul> )              
})}