---
import { Icon } from "astro-icon/components";
const { text, url, class: className = "inline-block" } = Astro.props;
---

<div class={className}>
  <span class="pr-1 pb-3 align-middle font-bold text-slate-900 dark:text-white"
    >Share:</span
  >
  <button
    class="ml-2"
    data-aw-social-share="twitter"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon name="brandico:twitter-bird" class="text-primary-500 h-5 w-5" />
  </button>
  <button class="ml-2" data-aw-social-share="facebook" data-aw-url={url}
    ><Icon name="brandico:facebook" class="text-secondary-500 h-5 w-5" />
  </button>
  <button
    class="ml-2"
    data-aw-social-share="linkedin"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon name="brandico:linkedin" class="text-primary-500 h-5 w-5" />
  </button>
  <button
    class="ml-2"
    data-aw-social-share="whatsapp"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon name="ic:baseline-whatsapp" class="text-secondary-500 h-5 w-5" />
  </button>
  <button
    class="ml-2"
    data-aw-social-share="mail"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon name="ic:baseline-mail" class="text-primary-500 h-5.5 w-5.5" />
  </button>
</div>
