---
import { SITE, PORTFOLIO } from '~/config.mjs';
import GitHubProjects from '~/components/widgets/GitHubProjects.astro';
import Layout from '~/layouts/BlogLayout.astro';
import BlogList from '~/components/project/List.astro';
import Pagination from '~/components/atoms/Pagination.astro';

import { fetchPosts } from '~/utils/projects';
import { getCanonical, getPermalink, PORTFOLIO_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
	if (PORTFOLIO?.disabled || PORTFOLIO?.blog?.disabled) return [];

	const posts = await fetchPosts();

	return paginate(posts, {
		params: { portfolio: PORTFOLIO_BASE || undefined },
		pageSize: PORTFOLIO.postsPerPage,
	});
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
	title: `Projects ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink(PORTFOLIO?.project?.pathname)),
	ogType: 'project',
	noindex: currentPage > 1,
};
---

<Layout {meta}>
	<h1>Projects</h1>
	<GitHubProjects />
	<!-- <BlogList posts={page.data} />
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> -->
</Layout>
